/* WELCOME SECTION*/

section.welcome { 
	max-width: 700px;
	margin: 0 auto;
	padding: 1em;
}

h1 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	padding: .25em 0em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
} 

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
}

p {
	font-family: 'Vollkorn', serif;
	font-size: 20px;
}


/*BACKGROUND*/ 

body { 
padding: 0;
margin: 0;
background-color: rgba(238, 238, 238, .8);
}


#mast-head {
	background-image: url(images/1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 900px;
	background-position: center;
}

div.cover {
	background-color: rgba(238, 238, 238, .8);
	position: absolute;
	top: 0;
	margin: 0 auto;
	width: 100%;
	height: 900px;
}

section.copy {
	padding: 0em 0 1em 0;
}


/*Mailchimp Form*/

div.mailchimp{
}

input.email {
	font-family: 'Vollkorn', serif;
	font-size: 1.5em;
	height: 2.5em;
	width: 100%;
	float: left;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 0px;
	border-right: 0px;
	background-color: rgba(238, 238, 238, .8);
}

.cta-button {
	font-family:'Vollkorn', serif;
	text-transform: uppercase;
	background: black;
	color: white;
	font-size: 1.5em;
	height: 2.5em;
	width: 100%;
	border: 2px solid black;
	margin-top: 1em;
}

.cta-button:hover {
	background-color: grey;
}


/*Call to Action Button */

/*.emerald-flat-button {
  position: relative;
  font-size: 22px;
  vertical-align: top;
  width: 25%;
  height: 60px;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  border-bottom: 2px solid #28be68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
}
.emerald-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
*/

/*Media Queries: */

@media handheld {
	body {background-image: none;}
}

@media screen and (max-width: 499px) {
	.emerald-flat-button, input.email{ font-size: 15px}
	.emerald-flat-button {width: 30%}
	div.cover {background: rgba(238, 238, 238, .6) }
}

@media screen and (max-width: 800px)  {
	div.cover {
	background-color: rgba(238, 238, 238, .8);
	position: absolute;
	left: 0;
	top:0;
	max-width: 740px;
}
}





